SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_CHANNEL_ID=C0123456789
SLACK_PLANT_CHANNEL_ID=
SLACK_TIMEZONE=Asia/Seoul
SLACK_BROADCAST=
SLACK_HIGHLIGHT_EMOJI=:sparkles:
SLACK_PLANT_BROADCAST=
SLACK_PLANT_EMOJI=:seedling:
SLACK_PLANT_WATER_EMOJI=:droplet:
